.navbar{
    display: flex;
    color: #ffffff;
    background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    align-items: center;
}

.navbar__logo{
    display:flex;
    margin-right: auto;
    align-items: center;
    padding: 25px;
    gap: 15px;
}

.navbar__logo-img{
    width: 50px;
    height: 40px;
}
.navbar__logo-name{
   
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.0225em;
}

.navbar > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 25px;
   
}